#article{
    display: flex;
    gap: 1.5rem;
}

#article .article-infos h2{
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
}

#article .article-infos h3{
    font-size: 1.2rem;
    font-weight: bold;
    color: #ccc;
    margin-bottom: 1rem;
}